@font-face {
    font-family: 'title';
    src: url('/fonts/title.ttf');
}

@font-face {
    font-family: 'text';
    src: url('/fonts/text.ttf');
}

@font-face {
    font-family: 'subtitle';
    src: url('/fonts/subtitle.otf');
}

@font-face {
    font-family: 'special';
    src: url('/fonts/special1.ttf');
}

@font-face {
    font-family: 'names';
    src: url('/fonts/names.otf');
}
// FONTS
$special: 'special', sans-serif;


h1, h2, h3, h4, h5, h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 5vw;
    color: #3d3c3c;
    text-transform: uppercase;
}

p, a {
    font-family: 'text';
    color: #3d3c3c;
    font-size: 3vw;
}

span {
    font-family: 'subtitle';
    color: rgb(183, 9, 9);
    font-size: 3vw;
}
body {
    background: #fff7f7;
    margin: 0;
    padding: 0;
    max-width: 1920px;
    min-width: 375px;
    scroll-behavior: smooth;
}

.paddings {
    padding: 0 30px;
}